<!-- Tag de classification -->
@if (data.classification == "Itinérant") {
    <p class="fr-tag fr-tag--sm tag-itinerant fr-icon-itinerant fr-tag--icon-left">Itinérant</p>
} @else if (data.classification == "Permanence") {
    <p class="fr-tag fr-tag--sm tag-permanence fr-icon-user-add-fill fr-tag--icon-left">Permanence</p>
} @else {
    <p class="fr-tag fr-tag--sm tag-implantation fr-icon-map-pin-2-fill fr-tag--icon-left">Implantation</p>
}

<!-- Titres -->
<h3 class="fr-h3">{{ data.nom_service }}</h3>
<h6 class="fr-h6">{{ data.thematique }}</h6>
<!-- Informations d'accessibilités -->
<div id="info-accessibility">
    <div class="info-mobility fr-fi-arrow-right-line fr-tag--icon-left">accessibilité</div>
    <div class="info-access fr-icon-calendar-event-fill fr-tag--icon-left">{{ data.modalite_d_accueil || "modalité rdv" }}</div>
</div>
<!-- Onglets d'informations -->
<dsfr-tabs
  [selectedTabIndex]="selectedTabIndex"
  [tabsAriaLabel]="tabsAriaLabel"
  [fullViewport]="fullViewport"
>
  <!-- Onglet présentation du service public -->
  <dsfr-tab
    tabId="presentTab"
    label="Présentation"
    [disabled]="false"
  >
    <!-- Informations générales -->
    <div class="info-list">
        <span class="fr-icon-map-pin-2-fill fr-icon--md info-icon" aria-hidden="true"></span>
        <div class="info-content"> {{ data.adresse || "Aucune information" }}</div>
    </div>
    <div class="info-list">
        <span class="fr-icon-user-star-fill fr-icon--md info-icon" aria-hidden="true"></span>
        <div class="info-content"> {{ data.responsable || "Aucune information" }}</div>
    </div>
    <div class="info-list">
        <span class="fr-icon-phone-fill fr-icon--md info-icon" aria-hidden="true"></span>
        <div class="info-content"> {{ data.numero || "Aucune information" }}</div>
    </div>
    <div class="info-list">
        <span class="fr-icon-mail-fill fr-icon--md info-icon" aria-hidden="true"></span>
        <div class="info-content"> {{ data.email || "Aucune information" }}</div>
    </div>
    <div class="info-list">
        <span class="fr-icon-global-fill fr-icon--md info-icon" aria-hidden="true"></span>
        <div class="info-content"> {{ data.site || "Aucune information" }}</div>
    </div>
    <br>
    <!-- Informations capacité et fréquence -->
    <div id="infos-cf">
        <div class="capacite">
            <p>Capacité d'accueil (heure/semaine)</p>
            <span>{{ data.capacite || "Inconnue" }}</span>
        </div>
        <div class="frequence">
            <p>Fréquentation annuelle (visiteurs/an)</p>
            <span>{{ data.frequentation_annuelle || "Inconnue" }}</span>
            @if (data.frequentation_annuelle_ref) {
                <small>(Année de référence: {{ data.frequentation_annuelle_ref }})</small>
            } 
        </div>
    </div>
    <br>
    <!-- Horaires -->
    <dsfr-accordion
    [heading]="'Horaires'"
    [headingAriaLabel]="'Horaires d\'ouverture'"
    >     
        @for (entry of tableTime; track entry.day) {
            <div class="spopening">
                <div class="spopening-day">{{ entry.day }}</div>
                <div class="spopening-hours">
                    @for (halfday of entry.time; track halfday) {
                        <p>{{ halfday }}</p>
                    } @empty {
                        <p>Fermé</p>
                    }
                </div>
            </div>
        } @empty {
            <div class="spopening">
                Information indisponible pour ce service
            </div>
        }
    </dsfr-accordion>
  </dsfr-tab>
</dsfr-tabs>