/* Titre et sous-titre du SP */
:host > .fr-h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

:host > .fr-h6 {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    margin-bottom: 20px;
}

:host > .fr-h7 {
    font-size: 1.1rem !important;
    margin-bottom: 5px;
    font-weight: 500;
    color: #0078f3;
}

/* Informations sur le SP */
.info-list {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.info-list > .info-icon, .info-list > .info-content {
    display: inline;
}

.info-list > .info-icon, .info-access > .info-icon{
    color: var(--text-action-high-blue-france);
}

.info-list > .info-content {
    padding-left: 10px;
    font-size: 0.9rem;
}

.info-modalite {
    padding-bottom: 20px;
}

#presentTab {
    padding: 2rem 1.5rem;
}

/* Informations capacité/fréquence sur le SP et info accessibilite */
#infos-cf {
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
}

#infos-cf > .frequence {
    width: 100%;
    display: flex;
}

#infos-cf > .frequence > p{
    font-size: 0.9rem;
    margin-bottom: 10px;
    width: 55%;
}

#infos-cf > .frequence > #freq-small{
    width: 45%;
}

#infos-cf > .frequence > #freq-small > small{
    font-size: 0.68rem;
}

#infos-cf > .frequence > #freq-small > span{
    font-weight: 800;
}

/* Horaires sur le SP */
.spopening {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spopening-day{
    width: 40%;
    font-weight: 600;
}

.spopening-hours{
    width: 60%;
    text-align: right;
}

.spopening-hours > p {
    margin-bottom: 0px;
}

/* Style des tags */
.tag-implantation {
    color: var(--text-action-high-green-menthe);
    background-color: var(--background-action-low-green-menthe);
}

.tag-itinerant {
    color: var(--text-action-high-purple-glycine);
    background-color: var(--background-action-low-purple-glycine);
    padding-top: 15px;
}

.tag-permanence {
    color: var(--text-action-high-pink-macaron);
    background-color: var(--background-action-low-pink-macaron);
}

.fr-icon-itinerant::before{
    mask-image: url("../../../../assets/images/side-menu/itinerant.svg");
}

.fr-icon-accessibility::before{
    mask-image: url("../../../../assets/images/side-menu/wheelchair.svg");
}

#buttonBackLocation{
    padding-bottom: 30px;
    display: block;
}