<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Correction des données</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1>Correction des données</h1>
        <p>Les informations présentées dans l’outil proviennent de bases de données publiques (annuaire de la DILA, base permanente des équipements de l’INSEE, BDTOPO de l’IGN) ainsi que de collecte de données directement auprès des acteurs locaux.</p>
        <p>Si vous remarquez une donnée incomplète ou erronée, vous pouvez nous écrire directement à <a class="fr-link" href="mailto:experimentation-carto.ditp@modernisation.gouv.fr">experimentation-carto.ditp&#64;modernisation.gouv.fr</a>.</p>
        <br>
    </div>
</div>