/* Titre et sous-titre localisation */
:host > .fr-h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 16px;
}

:host > .fr-h6 {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    margin-bottom: 10px;
}

/* info location */
.group-location-info{
    width: 100%;
    padding: 5px 2px;
}

.group-location-info > .national-info{
    display: inline-block;
    width: 33%;
    padding-left: 15px;
}

.group-location-info > .location-info{
    display: inline-block;
    width: 67%;
    color: var(--text-action-high-blue-france);
}

.group-location-info > .admin-info{
  display: inline-block;
  width: 50%;
}

.group-location-info > .location-info > .data-value, .group-location-info > .national-info > .data-value, .group-location-info > .admin-info >.data-value{
    font-weight: 600;
    font-size: 1.2em;
}

.group-location-info > .location-info > .data-title, .group-location-info > .national-info> .data-title, .group-location-info > .admin-info > .data-title{
    font-weight: 100;
    font-size: 0.8em;
}

.isochronetext{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

:host > #buttonBackLocation {
    padding: 0px 16px;

    .fr-btn {
        margin-top: 20px !important;
    }
}


/* Patience */
 .patience {
     padding:15px;
     width: 100%;
     background: #fff;
     margin-bottom: 20px;
     border-radius: 5px;
     box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
 .patience .line {
     height: 12px;
     margin-bottom: 16px;
     border-radius: 2px;
     background: rgba(130, 130, 130, 0.2);
     background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
     background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
     background-size: 800px 100px;
     animation: wave-lines 2s infinite ease-out;
}
 .patience-right{
    width: 92%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
 .patience-left{
    width: 8%;
    display: inline-block;
    vertical-align: middle;
}
.patience .line:last-child{
    margin-bottom: 0;
}

.first-line-header{
    margin-bottom: 29px !important;
}

.h14{
    height: 14px !important;
    position: relative;
}

.h24{
    height: 24px !important;
}

.h48{
    height: 48px !important;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}
@keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}
