<!-- Boutton de navigation -->
<dsfr-button
  [label]="'Sélectionner une autre zone'"
  [type]="'button'"
  [tooltipMessage]="'Sélectionner une autre zone géographique'"
  [variant]="'primary'"
  [size]="'SM'"
  [icon]="'fr-icon-arrow-left-line'"
  [iconPosition]="'left'"
  [disabled]="false"
  [ariaLabel]="'Sélectionner une autre zone'"
  [invertedOutlineContrast]="false"
  [id]="'buttonBackLocation'"
  id="buttonBackLocation"
  (click)="onButtonBackLocationClic()"
></dsfr-button>

<!-- Titres -->
@if (data.type === "departement"){  
<h3 class="fr-h3">{{ data.location.name }} - {{ data.location.number }}</h3>
}@else {
<h3 class="fr-h3">{{ data.location.name }}</h3>
}

<!-- Onglets d'informations -->
<dsfr-tabs
  [selectedTabIndex]="selectedTabIndex"
  [tabsAriaLabel]="tabsAriaLabel"
  [fullViewport]="fullViewport"
>
  <!-- Onglet présentation de la localisation -->
  <dsfr-tab
    tabId="presentTab"
    label="Présentation"
    [disabled]="false"
  >
  <!-- Informations générales -->
    @if (data.type === "departement" || data.type === "epci"){ 
      <!-- Informations administratives -->
      <div class="fr-table fr-table--bordered fr-table--infos">
          <div class="fr-table__wrapper fr-table-wrapper-cartosp">
              <div class="fr-table__container">
                  <div class="fr-table__content">
                    <table>
                      <thead>
                        <tr>
                          <th class="th-left th-small">Nombre de communes</th>
                          <th class="th-right fr-tabble--hidden"></th>
                        </tr>
                      </thead>
                      <tr>
                        <td class="td-small highlight-value">
                          @if (apidata.nb_commune) {
                            {{ apidata.nb_commune  }}
                          }
                          @else {
                            Inconnue
                          }
                        </td>
                        <td class="fr-tabble--hidden"></td>
                      </tr>
                    </table>
                    @if (data.type === "departement"){
                      <table>
                        <thead>
                          <tr>
                            <th class="th-left th-small">Nombre d'EPCI</th>
                            <th class="th-right fr-tabble--hidden"></th>
                          </tr>
                        </thead>
                        <tr>
                          <td class="last-tr td-small highlight-value">
                            @if (apidata.nb_epci) {
                              {{ apidata.nb_epci }}
                            } @else {
                              Inconnue
                            }
                          </td>
                          <td class="last-tr fr-tabble--hidden"></td>
                        </tr>
                      </table>
                    }
                  </div>
              </div>
          </div>
      </div>
    }
    <!-- Informations socio économique -->
    <h6 class="fr-h6">Démographie</h6>
    <div class="fr-table fr-table--bordered fr-table--infos">
        <div class="fr-table__wrapper fr-table-wrapper-cartosp">
            <div class="fr-table__container">
                <div class="fr-table__content">
                  <!-- Nombre d'habitants -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Nombre d'habitants
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-pop" aria-describedby="tooltip-pop">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-pop" role="tooltip" aria-hidden="true">Insee, Recensement de la population, 2022</span>
                          </div>
                        </th>
                        <th class="th-right">Moy. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="no-underlined highlight-value">{{ formatNumber(apidata.population_recensement,'1.0-0') }}</td>
                      <td class="no-underlined td-right">{{ formatNumberReal(moynat.population_recensement_moyenne,'1.0-0') }}</td>
                    </tr>
                  @if (data.type === "departement"){ 
                    <tr class="tr-estimate">
                      <td>
                        <div>
                          Projection 2070
                          <button class="fr-btn--tooltip fr-btn" type="button" id="button-proj2070" aria-describedby="tooltip-proj2070">
                            Source
                          </button>
                          <span class="fr-tooltip fr-placement" id="tooltip-proj2070" role="tooltip" aria-hidden="true">Calcul DITP, données sources INSEE <br> Projections de population 2018-2070 pour les départements et les régions, 2022</span>
                        </div>
                        <div class="highlight-value">{{ formatNumber(apidata.projection2070,'1.0-0') }}</div>
                      </td>
                      <td class="td-right">
                        <br>
                        <div>{{ formatNumberReal(moynat.projection2070_moyenne,'1.0-0') }}</div>
                      </td>
                    </tr>
                  }
                  </table>
                  <!-- Densité -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Densité (habitants/km2)
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-dens" aria-describedby="tooltip-dens">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-dens" role="tooltip" aria-hidden="true">Nombre d'habitants au km2 <br> Insee, Recensement de la population, 2022</span>
                          </div>
                        </th>
                        <th class="th-right">Val. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="last-tr highlight-value">{{ formatNumber(apidata.population_densite,'1.1-1') }}</td>
                      <td class="last-tr td-right">{{ formatNumberReal(moynat.densite_pop_valnat,'1.1-1') }}</td>
                    </tr>
                  </table>
                  <!-- Vieillissement -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Indice de vieillissement
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-viei" aria-describedby="tooltip-viei">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-viei" role="tooltip" aria-hidden="true">Rapport de la population des 65 ans et plus sur celle des moins de 20 ans <br> Insee, Recensement de la population, 2022</span>
                          </div>
                        </th>
                        <th class="th-right">Val. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="no-underlined highlight-value">{{ formatNumber(apidata.vieillissement_indice,'1.0-0') }}</td>
                      <td class="no-underlined td-right">{{ formatNumberReal(moynat.indice_vieillissement_valnat,'1.0-0') }}</td>
                    </tr>
                  @if (data.type === "departement"){ 
                    <tr class="tr-estimate">
                      <td>
                        <div>
                          Projection 2070
                          <button class="fr-btn--tooltip fr-btn" type="button" id="button-indice-2070" aria-describedby="tooltip-indice-2070">
                            Source
                          </button>
                          <span class="fr-tooltip fr-placement" id="tooltip-indice-2070" role="tooltip" aria-hidden="true">Calcul DITP, données sources INSEE <br> Projections de population 2018-2070 pour les départements et les régions, 2022</span>
                        </div>
                        <div class="highlight-value">{{ formatNumber(apidata.projection_vieillissement2070,'1.0-0') }}</div>
                      </td>
                      <td class="td-right">
                        <br>
                        <div>{{ formatNumberReal(moynat.indice_vieillissement2070_valnat,'1.0-0') }}</div>
                      </td>
                    </tr>
                  }
                  </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Informations socio économique -->
    <h6 class="fr-h6">Données socio-économiques</h6>

    <div class="fr-table fr-table--bordered fr-table--infos">
        <div class="fr-table__wrapper fr-table-wrapper-cartosp">
            <div class="fr-table__container">
                <div class="fr-table__content">
                  <!-- Taux de pauvreté -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Taux de pauvreté (%)
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-tpv" aria-describedby="tooltip-tpv">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-tpv" role="tooltip" aria-hidden="true">Part d'individus vivant avec un revenu inférieur à 60% du revenu médian national <br> INSEE, Filosofi, 2021</span>
                          </div>
                        </th>
                        <th class="th-right">Val. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="last-tr highlight-value">{{ formatNumber(apidata.taux_pauvrete,'1.1-1') }}@if (apidata.taux_pauvrete){%}</td>
                      <td class="last-tr td-right">{{ formatNumberReal(moynat.taux_pauvrete_moyenne,'1.1-1') }}@if (moynat.taux_pauvrete_moyenne){%}</td>
                    </tr>
                  </table>
                  <!-- Taux de chomage -->
                  @if (data.type === "departement"){ 
                    <table>
                      <thead>
                        <tr>
                          <th class="th-left">
                            <div class="th-content">
                              Taux de chômage (%)
                              <button class="fr-btn--tooltip fr-btn" type="button" id="button-chom" aria-describedby="tooltip-chom">
                                Source
                              </button>
                              <span class="fr-tooltip fr-placement" id="tooltip-chom" role="tooltip" aria-hidden="true">Taux de chômage au sens du BIT <br> Insee, 2024</span>
                            </div>
                          </th>
                          <th class="th-right">Val. nat.</th>
                        </tr>
                      </thead>
                      <tr>
                        <td class="last-tr highlight-value">{{ formatNumber(apidata.taux_chomage,'1.1-1') }}@if (apidata.taux_chomage){%}</td>
                        <td class="last-tr td-right">{{ formatNumberReal(moynat.chomage_bit_valnat,'1.1-1') }}@if (moynat.chomage_bit_valnat){%}</td>
                      </tr>
                    </table>
                  }
                  <!-- Nbr. de bénéficiaires du RSA -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Nombre de bénéficiaires du RSA
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-rsa" aria-describedby="tooltip-rsa">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-rsa" role="tooltip" aria-hidden="true">CNAF-DSER, FILEAS Base Communale Allocataires (BCA), 2023</span>
                          </div>
                        </th>
                        <th class="th-right">Moy. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="last-tr highlight-value">{{ formatNumber(apidata.population_rsa,'1.0-0') }}</td>
                      <td class="last-tr td-right">{{ formatNumberReal(moynat.population_rsa_moyenne,'1.0-0') }}</td>
                    </tr>
                  </table>
                  <!-- Nbr. de familles monoparentales -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Nombre de familles monoparentales
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-familles" aria-describedby="tooltip-familles">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-familles" role="tooltip" aria-hidden="true">Insee, Recensement de la population, 2022</span>
                          </div>
                        </th>
                        <th class="th-right">Moy. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="last-tr highlight-value">{{ formatNumber(apidata.nb_monoparentale,'1.0-0') }}</td>
                      <td class="last-tr td-right">{{ formatNumberReal(moynat.nb_monoparentale_moyenne,'1.0-0') }}</td>
                    </tr>
                  </table>
                  <!-- QPV -->
                  <table>
                    <thead>
                      <tr>
                        <th class="th-left">
                          <div class="th-content">
                            Nombre de QPV
                            <button class="fr-btn--tooltip fr-btn" type="button" id="button-qpv" aria-describedby="tooltip-qpv">
                              Source
                            </button>
                            <span class="fr-tooltip fr-placement" id="tooltip-qpv" role="tooltip" aria-hidden="true">ANCT, 2025</span>
                          </div>
                        </th>
                        <th class="th-right">Moy. nat.</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="last-tr highlight-value">{{ formatNumber(apidata.nb_qpv,'1.0-0') }}</td>
                      <td class="last-tr td-right">{{ formatNumberReal(moynat.nb_qpv_moyenne,'1.0-0') }}</td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
  </dsfr-tab>
  <!-- Onglet accès aux service public -->
  <dsfr-tab
    tabId="spsTab"
    label="Services publics"
    [disabled]="false"
  >
    <!-- Informations générales -->
    <dsfr-form-select
      [label]="'Choisissez un service public'"
      [value]="'tous'"
      [options]="selectSpList"
      (selectChange)="selectSpChange($event)"
    ></dsfr-form-select>
    <br>

    <h6 class="fr-h6">Données administratives</h6>
    <div><strong>{{ nbimplantations || 0 }}</strong> implantation@if (nbimplantations != 1) {s}</div>
    <div><strong>{{ nbpermanences || 0 }}</strong> permanence@if (nbpermanences != 1) {s}</div>
    <div><strong>{{ nbitinerants || 0 }}</strong> dispositif@if (nbitinerants != 1) {s} itinérant@if (nbitinerants != 1) {s}</div>
  </dsfr-tab>
  <!-- Onglet accès aux isochrones -->
  <dsfr-tab
    tabId="isochronesTab"
    label="Isochrones"
    [disabled]="false"
  >
    <div class="fr-callout">
      Affichez les données statistiques des isochrones en les sélectionnant dans le volet "Calcul d'isochrones" à gauche de l'écran.
    </div>
    @if(isochrones.length > 0){
      @for (isochrone of isochrones; track isochrone.layername) {
        @if(!isochrone.totalsDepartement || isochrone.totalsDepartement.loading){
          <div class="patience">
            <div class="line h48 first-line-header"></div>
            <div class="patience-left">
              <div class="line h24"></div>
              <div class="line h24"></div>
              <div class="line h24"></div>
              <div class="line h24"></div>
            </div>
            <div class="patience-right">
              <div class="line h14" style="top: -10px;"></div>
              <div class="line h14"></div>
              <div class="line h14" style="top: 10px;"></div>
              <div class="line h14" style="top: 20px;"></div>
            </div>
          </div>
        } @else {
          <dsfr-accordion [expanded]="true">
            <ng-container heading>{{isochrone.layername}} ({{isochrone.name_location}} - {{isochrone.location}}; {{isochrone.time}}; {{isochrone.ride}}) </ng-container>
            <ng-container content>
              @if(isochrone.totalsDepartement.percentages){
                <p class="isochronetext"><strong>{{formatNumberReal(isochrone.totalsDepartement.percentages.population,'1.2-2')}}%</strong> de la population du département couverte</p>
                <p class="isochronetext"><strong>{{formatNumberReal(isochrone.totalsDepartement.percentages.nb_men_pauv,'1.2-2')}}%</strong> des ménages pauvres du département couverte</p>
                <p class="isochronetext"><strong>{{formatNumberReal(isochrone.totalsDepartement.percentages.nb_plus_65 ,'1.2-2') }}%</strong> des + 65ans du département couverte</p>
              } @else {
                <p>Aucune données pour cet isochrone.</p>
              }
            </ng-container>
          </dsfr-accordion>
        }
      }
    }
  </dsfr-tab>
</dsfr-tabs>