<!-- Boutton de navigation -->
<dsfr-button
  [label]="'Sélectionner une autre zone'"
  [type]="'button'"
  [tooltipMessage]="'Sélectionner une autre zone géographique'"
  [variant]="'primary'"
  [size]="'SM'"
  [icon]="'fr-icon-arrow-left-line'"
  [iconPosition]="'left'"
  [disabled]="false"
  [ariaLabel]="'Sélectionner une autre zone'"
  [invertedOutlineContrast]="false"
  [id]="'buttonBackLocation'"
  id="buttonBackLocation"
  (click)="onButtonBackLocationClic()"
></dsfr-button>

<!-- Titres -->
@if (data.type === "departement"){  
<h3 class="fr-h3">{{ data.location.name }} - {{ data.location.number }}</h3>
}@else {
<h3 class="fr-h3">{{ data.location.name }}</h3>
}

<!-- Onglets d'informations -->
<dsfr-tabs
  [selectedTabIndex]="selectedTabIndex"
  [tabsAriaLabel]="tabsAriaLabel"
  [fullViewport]="fullViewport"
>
  <!-- Onglet présentation de la localisation -->
  <dsfr-tab
    tabId="presentTab"
    label="Présentation"
    [disabled]="false"
  >
    <!-- Informations générales -->
    <h5 class="fr-h5">En chiffres</h5>
    <p>(en développement)</p>
    <br>
  </dsfr-tab>
    <!-- Onglet présentation du service public -->
<dsfr-tab
    tabId="spsTab"
    label="Services publics"
    [disabled]="false"
  >
    <!-- Informations générales -->
    <p>(en développement)</p>
    <br>
  </dsfr-tab>
</dsfr-tabs>