<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Téléchargement des données</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1>Téléchargement des données</h1>
        <p>Informations sur le jeu de données : <a id="link-referentiel" href="/assets/telechargements/Documentation du referentiel des services publics.pdf" target="_self" class="fr-link fr-link--download">Documentation du referentiel des services publics</a></p>
        <h2 class="fr-col-12 margin-content">Hautes-Alpes - 05</h2>
        <div class="dl-list">
          <p>Base de données des implantations (05) :  <a id="link-implan05" href="/assets/telechargements/BD_CartoSP_Implantations_05.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Implantations_05</a></p>
          <p>Base de données des itinérances (05) :  <a id="link-iti05" href="/assets/telechargements/BD_CartoSP_Itinérances_05.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Itinérances_05</a></p>
          <p>Base de données des permanences (05) :  <a id="link-perma05" href="/assets/telechargements/BD_CartoSP_Permanences_05.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Permanences_05</a></p>
        </div>
        <h2 class="fr-col-12 margin-content">Indre - 36</h2>
        <div class="dl-list">
          <p>Base de données des implantations (36) :  <a id="link-implan36" href="/assets/telechargements/BD_CartoSP_Implantations_36.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Implantations_36</a></p>
          <p>Base de données des itinérances (36) :  <a id="link-iti36" href="/assets/telechargements/BD_CartoSP_Itinérances_36.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Itinérances_36</a></p>
          <p>Base de données des permanences (36) :  <a id="link-perma36" href="/assets/telechargements/BD_CartoSP_Permanences_36.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Permanences_36</a></p>
        </div>
        <h2 class="fr-col-12 margin-content">Nord - 59</h2>
        <div class="dl-list">
          <p>Base de données des implantations (59) :  <a id="link-implan59" href="/assets/telechargements/BD_CartoSP_Implantations_59.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Implantations_59</a></p>
          <p>Base de données des itinérances (59) :  <a id="link-iti59" href="/assets/telechargements/BD_CartoSP_Itinérances_59.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Itinérances_59</a></p>
          <p>Base de données des permanences (59) :  <a id="link-perma59" href="/assets/telechargements/BD_CartoSP_Permanences_59.xlsx" target="_self" class="fr-link fr-link--download">BD_CartoSP_Permanences_59</a></p>
        </div>
    </div>
</div>
