<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Mentions légales</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Mentions légales</h1>
        <h2 class="margin-title">Éditeur</h2>
        <p class="fr-col-12">Le site cartosp.modernisation.gouv.fr est édité par l’Institut national de l’information géographique et forestière (IGN), 73 avenue de Paris, 94165 SAINT-MANDE CEDEX, France.</p>
        <p class="fr-col-12">Tél. : 01 43 98 80 00 </p>
        <p class="fr-col-12">Directeur de la publication : Sébastien Soriano, Directeur général de l'IGN.</p>
        <h2 class="margin-title">Hébergeur</h2>
        <p class="fr-col-12">Le site cartosp.modernisation.gouv.fr est hébergé par OVH SAS, 2 rue Kellermann, 59100 Roubaix, France.</p>
        <h2 class="margin-title">Traitement des données à caractère personnel</h2>
        <p class="fr-col-12">Les informations issues des demandes d’accès au site sont utilisées exclusivement pour la gestion des permissions d’accès aux différents contenus et fonctionnalités du site cartosp.modernisation.gouv.fr.</p>
        <p class="fr-col-12">Le destinataire des données est la DITP.</p>
        <p class="fr-col-12">Conformément à la loi « Informatique et libertés » du 6 janvier 1978, vous bénéficiez d’un droit d’accès et de rectification des informations qui vous concernent, que vous pouvez exercer en vous adressant à l’IGN aux coordonnées accessibles via le lien « Nous écrire » dans la rubrique aide.</p>
        <p class="fr-col-12"><a class="fr-link fr-link--download" href="#">En savoir plus sur les données à caractère personnel</a></p>
        <h2 class="margin-title">Droit de propriété intellectuelle</h2>
        <p class="fr-col-12">Les illustrations, le contenu éditorial, les divers éléments de la charte graphique ainsi que les données cartographiques issues de la consultation en ligne figurant sur le site cartosp.modernisation.gouv.fr sont des éléments dont la DITP détient la propriété ou le droit d’exploitation.</p>
        <p class="fr-col-12">L’utilisation des documents ou éléments du site est soumise à l’accord préalable de notre établissement.</p>
        <h2 class="margin-title">Liens hypertextes proposés sur cartosp.modernisation.gouv.fr</h2>
        <p class="fr-col-12">Les liens insérés dans les pages du site cartosp.modernisation.gouv.fr vers des sites tiers sont proposés à titre d’information ; le contenu des sites vers lesquels ces liens conduisent n’engage pas la responsabilité de l’éditeur.</p>
    </div>
</div>