<div class="fr-container mentions-legales-scroll">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Mentions légales</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Mentions légales</h1>
        <h2 class="margin-title">Mission du site</h2>
        <p class="fr-col-12">Le site se destine aux décideurs locaux, préfets de département, présidents de conseil départemental, responsables de services publics et élus locaux. Il vise à fournir une vision claire, exhaustive et partagée de l’implantation des services publics, au regard des caractéristiques des territoires et des populations. Ce site propose un outil d’aide à la décision et ne vise pas à informer le grand public sur ses démarches ou ses droits.</p>
        <h2 class="margin-title">Éditeur</h2>
        <p class="fr-col-12">Le site cartographie-services-publics.modernisation.gouv.fr est édité par la direction interministérielle de la transformation publique (DITP).</p>
        <p class="fr-col-12">
          <strong>Direction interministérielle de la Transformation Publique (DITP)</strong> <br>
          20 avenue de Ségur - 75334 Paris Cedex 07 <br>
          Téléphone : 01 71 21 11 83 
        </p>
        <h2 class="margin-title">Directeur de la publication</h2>
        <p class="fr-col-12">Pierre Bouillon, Délégué interministériel à la transformation publique.</p>
        <h2 class="margin-title">Hébergeur</h2>
        <p class="fr-col-12">Le site cartographie-services-publics.modernisation.gouv.fr est hébergé par : </p>
        <p class="fr-col-12">
          <strong>OVH SAS</strong> <br>
          2 rue Kellermann - 59100 Roubaix France <br>
          Téléphone : 09 72 10 10 07
        </p>
        <h2 class="margin-title">Développement et crédits</h2>
        <p class="fr-col-12">Développement : <strong>Institut national de l’information géographique et forestière (IGN)</strong></p>
        <p class="fr-col-12">
          <strong>Institut national de l’information géographique et forestière (IGN)</strong> <br>
          <strong>Service Client</strong> <br>
          73 avenue de Paris, <br>
          94165 SAINT-MANDE CEDEX
        </p>
        <h2 class="margin-title">Réutilisation des contenus et liens</h2>
        <p class="fr-col-12">Sauf mention explicite de droits de propriété intellectuelle détenus par des tiers, les contenus du Site sont proposés sous licence ouverte <a target="_blank" href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf">Etalab 2.0</a>.</p>
        <p class="fr-col-12">Vous êtes notamment libres de les reproduire, copier, modifier, extraire, transformer, communiquer diffuser, redistribuer, publier, transmettre et exploiter sous réserve de mentionner leur source, leur date de dernière mise à jour et ne pas induire en erreur des tiers quant aux informations qui y figurent.</p>
        <p class="fr-col-12">Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées sur ce site.</p>
        <h2 class="margin-title">Clause de responsabilité</h2>
        <p class="fr-col-12">Les informations proposées sur ce site le sont à titre d’aide à l’amélioration de la qualité du service rendu par l’administration aux usagers. Malgré tout le soin apporté à la vérification des contenus et des informations, les éléments mis en ligne ne sauraient, de quelque manière que ce soit engager la responsabilité du Délégué interministériel à la transformation publique, de la DITP et de l’IGN.</p>
        <p class="fr-col-12">Les informations et/ou les documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent faire l’objet de mises à jour.</p>
        <p class="fr-col-12">La DITP et l’IGN ne pourront en aucun cas être tenus responsables de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou des documents disponibles sur ce site.</p>
        <h2 class="margin-title">Modification et évolution du site</h2>
        <p class="fr-col-12">L’interface, les fonctionnalités et l’ensemble des contenus sont susceptibles d’évoluer sans que l’usager en soit informé. La DITP se réserve la liberté de faire évoluer, de modifier ou de suspendre sans préavis le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire. Une page d'information peut alors être affichée à l'usager l’informant de cette indisponibilité. L'indisponibilité du site ne donne droit à aucune indemnité.</p>
        <h2 class="margin-title">Modification des mentions légales</h2>
        <p class="fr-col-12">La DITP et l’IGN se réservent la possibilité de modifier, à tout moment et sans préavis, les présentes mentions légales, afin de les adapter aux évolutions du site et/ou de son exploitation.</p>
    </div>
</div>