<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Accessibilité</a>
                </li>
              </ol>
            </div>
        </nav>
        
        <div class="dsfr-container">
            <h1>Accessibilité</h1>
            <div class="fr-alert fr-alert--info">
              <h2 class="fr-alert__title">Accessibilité : audit en cours</h2>
            </div>
            <br>
            <p>La DITP porte une attention particulière à l'accessibilité des contenus de ce site. À cette fin, elle met en place des développements spécifiques pour rendre ses contenus accessibles à tous.</p>

            <h2>Déclaration d'accessibilité</h2>
            <p>La DITP s'engage à rendre son site internet accessible conformément à l'article 47 de la loi n° 2005-102 du 11 février 2005.</p>
            <p>La présente déclaration d'accessibilité s'applique au site web <a class="fr-link" href="https://cartographie-services-publics.modernisation.gouv.fr/">https://cartographie-services-publics.modernisation.gouv.fr/</a></p>

            <h2>État de conformité</h2>
            <p>L'audit de conformité sur la base du référentiel RGAA4.1 sur le site <a class="fr-link" href="https://cartographie-services-publics.modernisation.gouv.fr/">https://cartographie-services-publics.modernisation.gouv.fr/</a> est en cours, les non-conformités, dérogations et exemptions seront énumérées ci-après.</p>

            <h2>Retour d'information et contact</h2>
            <p>Si vous n'arrivez pas à accéder à un contenu ou à un service, vous pouvez nous contacter pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>

            <h2>Voies de recours</h2>
            <p>Cette procédure est à utiliser dans le cas suivant :</p>
            <p>Vous avez signalé au responsable du site internet un défaut d'accessibilité qui vous empêche d'accéder à un contenu ou à un des services du portail et vous n'avez pas obtenu de réponse satisfaisante.</p>
            
            <ul>
                <li>Écrire un message au <a class="fr-link" target="_blank" href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a></li>
                <li>Contacter le délégué du <a class="fr-link" target="_blank" href="https://www.defenseurdesdroits.fr/saisir/delegues">Défenseur des droits dans votre région</a></li>
                <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)<br>
                    Défenseur des droits<br>
                    Libre réponse 71120<br>
                    75342 Paris CEDEX 07
                </li>
            </ul>
        </div>
    </div>
</div>
