<header role="banner" class="fr-header fr-header--compact csp-header">
  <div class="fr-header__body">
    <div class="fr-container--fluid">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="/" title="Accueil - République Française">
                <p class="fr-logo"></p>
              </a>
            </div>
            <div class="fr-header__service">
              <a href="/" title="Accueil - Cartographie des services publics">
                <p class="fr-header__service-title">Cartographie des services publics</p>
              </a>
            </div>
            <div class="fr-header__navbar">
              <button
                class="fr-btn--menu fr-btn"
                type="button"
                id="button-csp-menu"
                aria-controls="modal-csp-menu"
                title="Menu"
                data-fr-opened="false"
              >
                Menu
              </button>
            </div>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <div class="csp-header__actions" role="navigation" aria-label="Menu principal">
              <a class="fr-btn fr-btn--sm fr-px-2w fr-btn--icon-left fr-icon-home-4-fill" href="/">
                Accueil
              </a>
              <a class="fr-btn fr-btn--sm fr-px-2w fr-btn--icon-left fr-icon-information-fill" href="/a-propos">
                À propos
              </a>
              <dsfr-tool-link-menu
                [outline]="false"
                [labelMenu]="'Aide'"
                [iconMenu]="'fr-icon-question-fill'"
              >
                <ng-template #linksTemplate>
                  <ul>
                    <dsfr-link
                      [link]="'/guide-d-utilisation'"
                      [label]="'Présentation de l’outil et guide d’utilisation'"
                      [icon]="'fr-icon-book-2-line'"
                      [customClass]="'fr-nav__link'"
                      [iconPosition]="'left'"
                    ></dsfr-link>
                    <dsfr-link
                      [link]="'/foire-aux-questions'"
                      [label]="'Foire aux questions'"
                      [icon]="'fr-icon-question-mark'"
                      [customClass]="'fr-nav__link'"
                      [iconPosition]="'left'"
                    ></dsfr-link>
                    <dsfr-link
                      [link]="'/nous-contacter'"
                      [label]="'Nous contacter'"
                      [icon]="'fr-icon-mail-line'"
                      [customClass]="'fr-nav__link'"
                      [iconPosition]="'left'"
                    ></dsfr-link>
                  </ul>
                </ng-template>
              </dsfr-tool-link-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-header__menu fr-modal" id="modal-csp-menu" aria-labelledby="button-csp-menu">
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" type="button" aria-controls="modal-csp-menu" title="Fermer">
        Fermer
      </button>
      <div class="fr-header__menu-links"></div>
    </div>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<div *ngIf="!footerExpanded" id="small-footer">
  <ul class="fr-footer__bottom-list small-footer__bottom-list">
    @for (item of mandatoryLinks; track item.link) {
      <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" [routerLink]="item.link">{{ item.label }}</a>
      </li>
    }
    <li class="fr-footer__bottom-item">
      <button
        type="button"
        class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left"
        [attr.aria-controls]="displayModalId"
        data-fr-opened="false"
      >
        {{ footerDisplayLabel }}
      </button>
    </li>
  </ul>
  <button id="btn-expand-footer" class="fr-btn fr-btn--sm btn-expand-footer fr-btn--tertiary-no-outline" type="button" title="Afficher plus" (click)="expandFooter()">
    <span class="fr-icon-arrow-up-s-line"></span>
  </button>
  <dsfr-display [displayId]="displayModalId"></dsfr-display>
</div>
<div *ngIf="footerExpanded" style="position: relative;">
  <button
    class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-btn--close fr-btn--icon-right"
    style="position: absolute; top: 1rem; right: 1rem; z-index: 10;"
    type="button"
    title="Fermer"
    (click)="collapseFooter()"
  >
    Fermer
  </button>
  <dsfr-footer
    [presentation]="
      'Carto SP est un projet coordonné par la Direction interministérielle de la transformation publique (DITP) en lien avec l’Institut national de l’information géographique et forestière (IGN). Le site s’appuie sur la Géoplateforme, la nouvelle infrastructure publique, ouverte et collaborative des données géographiques.'
    "
    [institutionalLinks]="[
      {
        label: 'info.gouv.fr',
        link: 'https://info.gouv.fr',
        tooltipMessage: 'info.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank'
      },
      {
        label: 'service-public.fr',
        link: 'https://service-public.fr',
        tooltipMessage: 'service-public.fr- ouvre une nouvelle fenêtre',
        target: '_blank'
      },
      {
        label: 'legifrance.gouv.fr',
        link: 'https://legifrance.gouv.fr',
        tooltipMessage: 'legifrance.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank'
      },
      {
        label: 'data.gouv.fr',
        link: 'https://data.gouv.fr',
        tooltipMessage: 'data.gouv.fr - ouvre une nouvelle fenêtre',
        target: '_blank'
      }
    ]"
    [mandatoryLinks]="mandatoryLinks"
    [partnerMain]="{imagePath: 'assets/images/logos/ditp.svg', imageAlt: 'logo DITP', link: 'https://www.modernisation.gouv.fr/'}"
    [partnersSub]="[
      {
        imagePath: 'assets/images/logos/ign.svg',
        imageAlt: 'logo IGN',
        link: 'https://www.ign.fr'
      }
    ]"
    [reboundLinks]="[]"
    [license]="
      'Sauf mention explicite de propriété intellectuelle détenue par
    des tiers, les contenus de ce site sont proposés sous &#60;a href=&#34;https://github.com/etalab/licence-ouverte/blob/master/LO.md&#34; target=&#34;_blank&#34; title=&#34;licence etalab-2.0 - ouvre une nouvelle fenêtre&#34;&#62;licence etalab-2.0&#60;/a&#62;'
    "
    [display]="true"
  ></dsfr-footer>
</div>



