<dsfr-response
  [heading]="'Page non trouvée'"
  [error]="404"
  [description]="'La page que vous cherchez est introuvable. Excusez-nous pour la gène occasionnée.'"
  [detail]="'Si vous avez tapé l\'adresse web dans le navigateur, vérifiez qu\'elle est correcte. La page n’est peut-être plus disponible. Dans ce cas, pour continuer votre visite vous pouvez consulter notre page d’accueil. Sinon contactez-nous pour que l’on puisse vous rediriger vers la bonne information.'"
  [showBackToHome]="true"
  (contactSelect)="contactSelect()"
  (backToHomeSelect)="backToHomeSelect()"
></dsfr-response>
