<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Guide d'utilisation</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1>Guide d'utilisation</h1>
        <p class="fr-col-12">Téléchargez le guide d'utilisation : <a href="/assets/telechargements/Cartographie des services publics - Mode d'emploi.pdf" target="_self" class="fr-link fr-link--download">Accéder au guide d'utilisation</a></p>
        <br>
    </div>
</div>
