<div class="fr-container faq-scroll">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Foire aux questions</a>
                </li>
              </ol>
            </div>
        </nav>
      <div class="dsfr-container">
        <h1 class="fr-col-12">Foire aux questions</h1>
        <div data-fr-group="true" class="fr-accordions-group">
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-1">Qu’est-ce que la cartographie des services publics ?</button>
            </h3>
            <div id="accordion-id-1" class="fr-collapse">
              <p>Il s’agit d’un projet coordonné par la Direction interministérielle de la transformation publique en lien avec l’Institut national de l’information géographique et forestière. L’objectif est de proposer un outil d’aide à la décision sur les implantations physiques de services publics, en tenant compte des caractéristiques de la population et du territoire.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-2">Est-ce que tous les services publics figurent sur la carte ?</button>
            </h3>
            <div id="accordion-id-2" class="fr-collapse">
              <p>Le périmètre de services publics intégrés dans l’outil a été défini en lien avec les besoins prioritaires des utilisateurs. Il comprend les principaux services accueillant les usagers pour la réalisation des démarches administratives et l’accès aux droits, des services de santé et les établissements d’enseignement.</p>
              <p>Cette liste n’est pas exhaustive de l’ensemble des services accueillant du public. Des compléments pourront être apportés dans les prochaines versions en fonction des besoins exprimés par les utilisateurs.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-3">Quelles sont les sources des données relatives à la présence des services publics ?</button>
            </h3>
            <div id="accordion-id-3" class="fr-collapse">
              <p>Les informations présentées dans l’outil proviennent de bases de données publiques (annuaire de la DILA, base permanente des équipements de l’INSEE, BDTOPO de l’IGN) ainsi que de collecte de données directement auprès des acteurs concernés.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-4">Je suis un usager, puis-je utiliser cet outil pour trouver un service public près de chez moi et connaître ses horaires d’ouverture ?</button>
            </h3>
            <div id="accordion-id-4" class="fr-collapse">
              <p>Les données présentes dans l'outil sont en cours de fiabilisation. Il vous est recommandé de vérifier les horaires d’ouverture avant tout déplacement.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-5">Je suis responsable d’un réseau ou d’un accueil de service public, les informations que j’observe sont erronées et/ou incomplètes</button>
            </h3>
            <div id="accordion-id-5" class="fr-collapse">
              <p>Un espace de correction des données sera prochainement mis à disposition des agents publics qui constateraient des informations erronées ou manquantes s’agissant des points d’accueil du public sous leur responsabilité.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-6">Comment ces données vont-elles être actualisées ?</button>
            </h3>
            <div id="accordion-id-6" class="fr-collapse">
              <p>La DILA est en charge de la construction d'une base de donnés de référence relative aux implantations de services publics. Cette base permettra la mise en place de circuits d'échange de données avec les différents services et ministères fournisseurs. Cela garantira l'actualisation à grande échelle des données présentes dans l'outil.</p>
              <p>A court terme, un espace collaboratif permettra de mettre à jour les données sur la présence ou les horaires d’ouverture des points d’accueil du public. Si les actualisations à apporter concernent un grand nombre de points d’accueil, vous pouvez nous écrire à l’adresse suivante (afin de permettre une actualisation en masse) : <a href="mailto:carto.ditp@modernisation.gouv.fr">carto.ditp&#64;modernisation.gouv.fr</a></p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-7">Puis-je accéder à la liste des informations de la carte dans un document dédié ?</button>
            </h3>
            <div id="accordion-id-7" class="fr-collapse">
              <p>Pour le moment, il n’est pas possible d’accéder à la liste des données de l’outil dans un format téléchargeable. </p>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>