<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Foire aux questions</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Foire aux questions</h1>
        <div data-fr-group="true" class="fr-accordions-group">
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-1">Qu’est-ce que Carto SP ?</button>
            </h3>
            <div id="accordion-id-1" class="fr-collapse">
              <p>Carto SP est un projet d’expérimentation coordonné par la Direction interministérielle de la transformation publique en lien avec l’Institut national de l’information géographique et forestière. L’objectif est de proposer un outil d’aide à la décision sur les implantations physiques de service public, en tenant compte des caractéristiques de la population et du territoire.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-2">Pourquoi trois départements seulement sont disponibles ?</button>
            </h3>
            <div id="accordion-id-2" class="fr-collapse">
              <p>Actuellement en phase d’expérimentation, Carto SP a été déployé sur trois départements pilotes : l’Indre, le Nord et les Hautes-Alpes. Si la phase d’expérimentation est concluante, l’outil sera généralisé à l’ensemble du territoire national.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-3">Pourquoi tous les services publics de mon département ne figurent pas sur la carte ?</button>
            </h3>
            <div id="accordion-id-3" class="fr-collapse">
              <p>Un premier périmètre de services publics a été défini pour la phase d’expérimentation, en lien avec les utilisateurs. Ce périmètre sera amené à évoluer si l’outil est généralisé.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-4">Je suis responsable d’un réseau ou d’un accueil de service public, les informations que j’observe sont erronées et/ou incomplètes</button>
            </h3>
            <div id="accordion-id-4" class="fr-collapse">
              <p>Les informations présentées dans l’outil proviennent de bases de données publiques (annuaire de la DILA, base permanente des équipements de l’INSEE, BDTOPO de l’IGN) ainsi que de collecte de données directement auprès des acteurs locaux. Si vous remarquez une donnée incomplète ou erronée, vous pouvez nous écrire directement à <a class="fr-link" href="mailto:experimentation-carto.ditp@modernisation.gouv.fr">experimentation-carto.ditp&#64;modernisation.gouv.fr</a>.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-5">Comment puis-je participer à l’expérimentation ?</button>
            </h3>
            <div id="accordion-id-5" class="fr-collapse">
              <p>Vous pouvez soit répondre au <a class="fr-link" target="_blank" href="https://cvip.sphinxonline.net/surveyserver/s/Experience_usagers/2024Experimentation_outil_cartographie/questionnaire.htm">questionnaire</a>, soit nous écrire à l’adresse <a class="fr-link" href="mailto:experimentation-carto.ditp@modernisation.gouv.fr">experimentation-carto.ditp&#64;modernisation.gouv.fr</a>.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-6">Cet outil est-il public ?</button>
            </h3>
            <div id="accordion-id-6" class="fr-collapse">
              <p>Cet outil se destine uniquement aux responsables locaux de service public de chacun des trois territoires pilotes et n’est donc pas mis à disposition du grand public. L’accès à cet outil est filtré à partir des adresses IP des utilisateurs et est validé par la DITP.</p>
            </div>
          </section>
          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-7">Puis-je accéder à la liste des informations de la carte dans un document dédié ?</button>
            </h3>
            <div id="accordion-id-7" class="fr-collapse">
              <p>Vous pouvez télécharger la liste des structures de votre département en vous rendant <a href="/telechargement-des-donnees" class="fr-link">ici</a></p>
            </div>
          </section>
        </div>
      </div>
</div>