<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Conditions générales d’utilisation</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Conditions générales d’utilisations</h1>
        <h2 class="margin-title">Fonctionnalités</h2>
        <p class="fr-col-12" style="margin-bottom: 5px;">L’outil Carto SP offre des fonctionnalités permettant : </p>
        <ul class="fr-col-12">
            <li>De visualiser une liste de services publics sur un territoire, par typologie, type de présence (implantation, permanence, dispositif itinérant), volume horaire et fréquentation</li>
            <li>De visualiser la fréquentation des points d’accueil de service public</li>
            <li>D’accéder aux informations détaillées concernant le service sélectionné sur la carte</li>
            <li>De visualiser des indicateurs socio-démographiques d’un territoire</li>
            <li>De visualiser les isochrones correspondant à une typologie de services et les informations liées à l’isochrone</li>
            <li>De visualiser l’offre de santé d’un territoir</li>
            <li>D’accéder à des informations administratives et socio-démographiques sur un territoire donné, comparé aux moyennes nationales</li>
        </ul>
        <h2 class="margin-title">Accès au site</h2>
        <p>Le site est accessible 24h/24 et 7 jours/7, sauf cas de force majeure ou maintenance technique. L’éditeur du site n’est pas responsable d’une éventuelle impossibilité d’accès au site et des conséquences qui peuvent en découler.</p>
        <h2 class="margin-title">Modification et évolution du site</h2>
        <p>L’interface, les fonctionnalités et l’ensemble des contenus sont susceptibles d’évoluer sans que l’usager en soit informé. La DITP se réserve la liberté de faire évoluer, de modifier ou de suspendre sans préavis le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire. Une page d'information peut alors être affichée à l'usager l’informant de cette indisponibilité. L'indisponibilité du site ne donne droit à aucune indemnité.</p>
        <p>Ces conditions d'utilisation peuvent être modifiées à tout moment, sans préavis, en fonction des changements apportés au site, de l'évolution de la législation ou pour tout autre motif jugé nécessaire.</p>
        <h1 class="fr-col-12 margin-title">Conditions d'utilisation à destination des utilisateurs souhaitant contribuer à la phase d’expérimentation de l’outil</h1>
        <h2 class="margin-title">Remplissage du sondage</h2>
        <p>Cette fonctionnalité permet aux utilisateurs volontaires de s’inscrire pour faire partie d’un panel constitué pour formuler des retours d’utilisation, afin de participer au test de l’outil et à alimenter l’arbitrage sur sa généralisation.</p>
        <p class="fr-col-12" style="margin-bottom: 5px;">Lors du remplissage du sondage, les données suivantes sont recueillies par le formulaire : </p>
        <ul class="fr-col-12">
            <li>Votre adresse email : afin de vous recontacter si besoin pour préciser vos retours</li>
            <li>Votre organisation</li>
            <li>Votre fonction</li>
        </ul>
        <h2 class="margin-title">Téléchargement des données locales</h2>
        <p>Les fichiers des données locales permettent aux utilisateurs des trois départements tests d’accéder aux données des services publics des territoires. Ces données proviennent de bases de données publiques (DILA, INSEE, IGN) et ont été complétées et vérifiées directement par les acteurs locaux via une collecte organisée par la DITP en février 2025.</p>
    </div>
</div>