<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Données à caractère personnel</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Données à caractère personnel</h1>
        <h2 class="margin-title">Accès au site cartosp.modernisation.gouv.fr</h2>
        <p class="fr-col-12">Le site cartosp.modernisation.gouv.fr est accessible aux utilisateurs en filtrant les plages IP.</p>
        <p class="fr-col-12">Les données à caractère personnel sur l’utilisateur sont recueillies par la DITP et font l’objet d’un traitement informatique ayant pour seule fonction la gestion du compte des utilisateurs et la gestion et l’amélioration de la plateforme, à l’exclusion de toute exploitation commerciale.</p>
        <h2 class="margin-title">Quels sont les objectifs du recueil de ces données ?</h2>
        <ul class="fr-col-12">
            <li>Identification d’un utilisateur</li>
            <li>Gestion du compte utilisateur</li>
            <li>Gestion du fonctionnement du service, de ses améliorations et évolutions</li>
            <li>Production de statistiques sur l’utilisation du service</li>
        </ul>
        <h2 class="margin-title">Quelles sont les données personnelles collectées (i) ?</h2>
        <ul class="fr-col-12">
            <li>Nom</li>
            <li>Prénom</li>
            <li>Adresse mail (étant précisé qu’il n’est pas possible de renseigner une adresse mail temporaire)</li>
            <li>Plage IP</li>
        </ul>
        <h2 class="margin-title">Quelle est la base juridique du traitement ?</h2>
        <p class="fr-col-12">Consentement</p>
        <h2 class="margin-title">Qui pourra en prendre connaissance ?</h2>
        <p class="fr-col-12">Agents de la DITP et agents de l’IGN</p>
        <h2 class="margin-title">Quelle est la durée de conservation des données ?</h2>
        <p class="fr-col-12">2 ans à compter de la date de la dernière connexion</p>
        <h2 class="margin-title">Prise de contact via le formulaire de contact</h2>
        <p>La prise de contact via le formulaire de contact donne lieu à la collecte, au stockage et au traitement de données à caractère personnel par la DITP, responsable de traitement.</p>
        <h2 class="margin-title">Quels sont les objectifs du recueil de ces données (finalités) ?</h2>
        <ul class="fr-col-12">
            <li>Gestion des remarques de l’utilisateur</li>
            <li>Gestion des suites données à la demande de l’utilisateur</li>
            <li>Gestion du fonctionnement du service, de ses améliorations et évolutions</li>
            <li>Communication avec les utilisateurs aux fins d’amélioration et d’évolution du service</li>
            <li>Production de statistiques sur l’utilisation du service</li>
        </ul>
        <h2 class="margin-title">Quelles sont les données personnelles collectées (i) ?</h2>
        <ul class="fr-col-12">
            <li>Adresse courriel</li>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Organisme</li>
            <li>Fonction</li>
        </ul>
        <h2 class="margin-title fr-col-12">Quelle est la base juridique du traitement ?</h2>
        <p>Consentement</p>
        <h2 class="margin-title fr-col-12">Qui pourra prendre en connaissance (destinataires) ?</h2>
        <p>DITP et le cas échéant les partenaires</p>
        <h2 class="margin-title fr-col-12">Quelle est la durée de conservation des données </h2>
        <p>La durée de conservation des données à caractère personnel est fixée par la DITP à deux ans à compter de la dernière sollicitation</p>
        <p>(i) Les données en gras correspondent aux données nécessaires au fonctionnement du service. En cas de non fourniture d’une de ces données, l’utilisateur ne peut accéder au service proposé.</p>
        <p>Les services proposés (création d’un compte personnel, prise de contact via le formulaire de) sont exclusivement réservés aux personnes âgées d’au moins 15 ans.</p>
        <p>Conformément à la législation en vigueur relative à l’informatique, aux fichiers et aux libertés, l’utilisateur dispose d’un droit d’accès, de rectification et d’effacement des données à caractère personnel le concernant. Il bénéficie, en outre, de la possibilité de limiter ou de s’opposer au traitement qui le concerne. Il dispose, de plus, du droit à la portabilité des données à caractère personnel le concernant. Il peut, enfin, définir les directives relatives au sort des données à caractère personnel le concernant après son décès.</p>
        <p>Lorsque le traitement est fondé sur le consentement, l’utilisateur a le droit de retirer son consentement à tout moment.</p>
        <p>L’exercice de ces droits peut se faire par courriel à l’adresse experimentation-carto.ditp&#64;modernisation.gouv.fr ou à l’adresse postale suivante :</p>
        <p>Direction interministérielle de la transformation publique</p>
        <p>Délégué à la protection des données (Dpo) 20 avenue de Ségur</p>
        <p>75007 Paris</p>
        <p>Le cas échéant, l’utilisateur peut introduire une réclamation auprès de la CNIL.</p>
    </div>
</div>