<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Nous contacter</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1>Nous contacter</h1>
        <p class="fr-col-12">Toute remarque permettra d’alimenter l’expérimentation de l’outil !</p>
        <p>Pour partager vos remarques, vous pouvez nous écrire à l’adresse suivante : <a class="fr-link" href="mailto:experimentation-carto.ditp@modernisation.gouv.fr">experimentation-carto.ditp&#64;modernisation.gouv.fr</a></p>
        <!-- ou remplir directement le formulaire. TODO quand il y aura le formulaire-->
        <br>
    </div>
</div>