<h1 class="fr-h5">Zones visibles sur la carte :</h1>

<!-- Onglets d'informations -->
<dsfr-tabs
  [selectedTabIndex]="selectedTabIndex"
  [tabsAriaLabel]="tabsAriaLabel"
  [fullViewport]="fullViewport"
  (tabSelect)="changeTab($event)"
>
  <!-- Onglet présentation du service public -->
  <dsfr-tab
    tabId="departement"
    label="Département"
  >
    <div id="territories"></div>
    <div class="search-dropdown-wrapper">
      @if (searchMessage) {
        <span class="search-feedback">{{ searchMessage }}</span>
      }
      <dsfr-search-bar placeholder="Rechercher un département..." (searchChange)="searchChange($event)" (searchSelect)="searchSelect($event)" [value]="searchQuery"></dsfr-search-bar>
      @if (searchResults.length > 0) {
        <div class="search-dropdown-results">
          @for (result of searchResults; track result.properties.id) {
            <div (click)="selectSearchResult(result)" class="search-dropdown-item">
              {{ result.properties.toponym }} ({{ result.properties.citycode[0]}})
            </div>
          }
        </div>
      }
    </div>
    <div class="gpf-select">
      @if (departements.length > 0) {
        @for (region of regions; track region.number) {
          @if (region.departments.length > 0) {
            <p class="fr-mb-1w fr-mt-2w"><strong>{{region.name}}</strong></p>
            @for (departement of region.departments; track departement.number) {
              <p (mouseenter)="highlightLocation(departement.number)" (mouseleave)="unhighlightLocation(departement.id)" (click)="selectLocation(departement)" class="GPautoCompleteProposal gpf-panel__items gpf-panel__items_searchengine arrow-pull-right fr-icon-arrow-right-s-line">
                {{departement.name}} ({{departement.number}})
              </p>
            }
          }
        }
      } @else {
        <p>Déplacez-vous sur la carte afin de faire apparaitre des localisations</p>
      }
    </div>
  </dsfr-tab>
  <dsfr-tab
  tabId="epci"
  label="EPCI"
    >
    <div class="gpf-select">
      @for (epci of epcis; track epci.name) {
        <p (mouseenter)="highlightLocation(epci.name)" (mouseleave)="unhighlightLocation(epci.name)" (click)="selectLocation(epci)" class="GPautoCompleteProposal gpf-panel__items gpf-panel__items_searchengine arrow-pull-right fr-icon-arrow-right-s-line">
          {{epci.name}}
        </p>
      }
      @empty {
        <p>Zoomez et déplacez-vous sur la carte afin de faire apparaitre des epci</p>
      }
    </div>
  </dsfr-tab>
  <dsfr-tab
  tabId="commune"
  label="Commune"
    >
    <div class="gpf-select">
      @for (commune of communes; track commune.name) {
        <p (mouseenter)="highlightLocation(commune.name)" (mouseleave)="unhighlightLocation(commune.name)" (click)="selectLocation(commune)" class="GPautoCompleteProposal gpf-panel__items gpf-panel__items_searchengine arrow-pull-right fr-icon-arrow-right-s-line">
          {{commune.name}}
        </p>
      }
      @empty {
        <p>Zoomez et déplacez-vous sur la carte afin de faire apparaitre des communes</p>
      }
    </div>
  </dsfr-tab>
</dsfr-tabs>