.GPautoCompleteProposal{
    color: var(--text-action-high-blue-france);
}

.GPautoCompleteProposal:hover{
    background-color: #DDD;
    color: #000091;
}

.arrow-pull-right::before {
    float: right;
}

:host > .fr-h5 {
    padding: 32px 16px;
    margin-bottom: 0px !important;
}