#ol-map {
    width: 100%;
    height: 80%;
}

#ol-map ::ng-deep .position-container-bottom-right{
    bottom: 40px;
}

#ol-map ::ng-deep .ol-attribution{
    right: 16px;
}

#ol-map ::ng-deep .ol-scale-line{
    left: 50px;
}

#ol-map ::ng-deep [id^="GPsearchEngine-"], #ol-map ::ng-deep .GPsearchRadioContainer{
    right: 10px !important;
    left: unset !important;
}