#app-content{
    display: flex;
    height: 800px;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

#map-container, #loading{
    height: 100%;
    width: 100%;
}

#loading{
    text-align: center;
    vertical-align: middle;
    line-height: 800px;
    font-size: larger;
    background-color: lightgray;
}

.loading-icon{
    display: inline-block;
}

#loading > .loading-icon > .fr-icon-warning-fill{
    color: red;
} 

.rotate {
    animation: rotation 8s infinite linear;
 }
   
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#tooltip-feature {
    background-color: var(--background-default-grey);
    max-width: min(24rem,calc(66.66667vw - 1.33333rem));
    padding: 5px;
    border-radius: 15px;
    border: 2px solid var(--text-action-high-blue-france);
}