<div id="presentation" class="fr-container--fluid fr-background-alt--blue-france">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6 fr-pt-8v">
                <h1 class="fr-h1">La cartographie des <br> services publics</h1>
                <p class="fr-text--lead">Pilotez l'accès aux services publics dans vos départements</p>
                <a class="fr-btn fr-btn--primary fr-icon-arrow-right-line fr-btn--icon-right" href="/carte" aria-label="Accéder à l'outil cartographique">Accéder à l'outil cartographique</a>
            </div>
            <div class="fr-col-12 fr-col-md-5 fr-col-offset-lg-1">
                <img class="fr-responsive-img" src="assets/images/accueil/cartographie-services-publics-home.png" alt="Image d'accueil du portail cartographique des services publics">
            </div>
        </div>   
    </div>
</div>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-pt-15v fr-pb-15v">
        <div class="fr-col-12 fr-col-md-8">
            <div class="fr-card fr-background-alt--blue-france fr-p-8v">
                <h2 class="fr-h2">La cartographie des services publics pour appuyer les décideurs locaux</h2>
                <p>La cartographie des services publics s’inscrit dans la volonté de renforcer l’égalité d’accès aux services publics sur l’ensemble du territoire. Cet outil a pour objectif de fournir une vision claire, exhaustive et partagée de l’implantation des services publics, au regard des caractéristiques des collectivités et des populations.</p>
                <p>Outil d’aide à la décision, cette plateforme met à disposition des données territoriales et des indicateurs permettant d’analyser la présence des services publics à une maille fine, d’identifier les zones de tension et d’éclairer les choix d’aménagement et d’organisation des services.</p>
                <p class="fr-mb-4v">La cartographie a vocation à accompagner les préfets, les collectivités territoriales, les opérateurs de services publics et l’ensemble des acteurs locaux, afin de les aider à prendre des décisions adaptées aux réalités locales et aux besoins des habitants.</p>
                <a class="fr-btn fr-btn--secondary fr-mb-8v fr-icon-arrow-right-line fr-btn--icon-right" href="/carte" aria-label="Accéder à l'outil cartographique">Accéder à l'outil cartographique</a>
                <p class="fr-mb-4v fr-text--bold">Vous êtes un usager et vous recherchez un service public ou des informations sur une démarche ou sur vos droits ? Rendez-vous sur « Service Public », le site officiel d’information et de démarches administratives.</p>
                <a class="fr-btn fr-btn--secondary fr-icon-arrow-right-line fr-btn--icon-right" target="_blank" href="https://www.service-public.gouv.fr/" aria-label="Accéder à Service Public (ouvre dans un nouvel onglet)">Accéder à Service Public</a>
            </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
            <div class="fr-card fr-background-action-low--green-emeraude fr-p-8v">
                <h2 class="fr-h2">En savoir plus</h2>
                <div class="fr-grid-row fr-mb-8v">
                    <div class="fr-col fr-col-md-12">
                        <div class="fr-card fr-enlarge-link">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title">
                                        <a class="card-link" href="/a-propos" aria-label="En savoir plus sur les objectifs et la construction de la cartographie">A propos</a>
                                    </h3>
                                    <p class="fr-card__desc">En savoir plus sur les objectifs et la construction de la cartographie des services publics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-grid-row fr-mb-8v">
                    <div class="fr-col fr-col-md-12">
                        <div class="fr-card fr-enlarge-link">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title">
                                        <a class="card-link" href="/guide-d-utilisation" aria-label="Accéder au guide d'utilisation, à la FAQ ou contacter le support">Introduction et guide d'utilisation</a>
                                    </h3>
                                    <p class="fr-card__desc">Accéder au guide d’utilisation de l’outil</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>