<div class="fr-container">
    <div class="fr-grid-row margin-content">
        <nav role="navigation" class="fr-breadcrumb fr-col-12" aria-label="vous êtes ici :">
            <button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
            <div class="fr-collapse" id="breadcrumb">
              <ol class="fr-breadcrumb__list">
                <li>
                  <a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
                </li>
                <li>
                  <a class="fr-breadcrumb__link" id="segment-1" aria-current="page">Plan du site</a>
                </li>
              </ol>
            </div>
        </nav>
        <h1 class="fr-col-12">Plan du site</h1>
        <ul>
            <li><a href="/">Cartographie</a></li>
            <li>Première prise en main
                <ul>
                    <li><a href="/guide-d-utilisation">Guide d'utilisation</a></li>
                    <li><a href="/telechargement-des-donnees">Téléchargement des données</a></li>
                </ul>
            </li>
            <li><a href="/a-propos">À propos</a></li>
            <li>Assistance
                <ul>
                    <li><a href="/foire-aux-questions">Foire aux questions</a></li>
                    <li><a href="/nous-contacter">Nous contacter</a></li>
                </ul>
            </li>
            <li><a href="/accessibilite">Accessibilité</a></li>
            <li><a href="/mentions-legales">Mentions légales</a></li>
            <li><a href="/donnees-personnelles">Données à caractère personnel</a></li>
            <li><a href="/cgu">Conditions générales d’utilisation</a></li>
            <li>Plan du site</li>
        </ul>
    </div>
</div>